<div class="panel panel-default">
  <div class="panel-heading"><h2>Account Activated</h2></div>
  <div class="panel-body">
    <p>Thank you for confirming your email. Your account is now active and you are ready to begin the application process. Please first update your personal profile.</p>
    <a class="btn btn-primary btn-lg">Proceed to create profile</a>
  </div>
</div>