<div class="panel panel-default">
  <div class="panel-heading"><h2>Create Profile</h2></div>
  <div class="panel-body">
    <p>Your account is active. Please create and update your personal profile. Once you do that, you are ready to begin the application process.</p>
    <%= link_to 'Proceed to create profile', user_profile_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>