<% title 'FAQ' %>

<div class="page-header">
  <h1>Frequently Asked Questions</h1>
</div>

<div class="row">
<div class="col-md-8">

<p><strong>I am abroad this quarter; can I still apply?</strong></p>

<p>Yes!  Students who are abroad can still apply.  If selected as a finalist, such applicants will Skype into their interviews, and depending on the time zone difference, may have to be flexible with timing.</p>

<p><strong>I will be abroad Spring quarter; can I still apply?</strong></p>

<p>Yes!  However, students who will be abroad in the Spring will be required to complete assignments to make up for the on-campus orientation sessions they will miss.</p>

<p><strong>I will be graduating at the end of this year; can I still apply?</strong></p>

<p>Unfortunately SIG only accepts applications from students who will be enrolled as undergraduates for the next academic year, so graduating seniors cannot apply.  The one exception to this is seniors who will be co-terming all of next year, who are allowed to apply.</p>

<p><strong>Who should I contact if I have any other questions about fellowships?</strong></p>

<p>If your questions are about the nature of the fellowship itself, contact the previous fellow for that fellowship, whose email address is listed on the webpage for that fellowship.  If your question is about a new fellowship (for which there is no previous fellow) or about the application itself, contact a member of the SIG fellowships team, whose email addresses are listed on the homepage of this application.</p>

<p><strong>I am a freshman; is it still advisable for me to apply?</strong></p>

<p>Yes, freshmen are encouraged to apply to SIG fellowships and stipends!  Each year, many freshmen are selected for finalist interviews, and typically a few freshman may be chosen as fellows. In the case of fellowships, having a Stanford faculty recommender and experience in your application is preferable; however, if after having spent only one quarter at Stanford, freshman think a high school supervisor or teacher would be able to speak much better on their behalf, or some experience from high school is very relevant to the fellowship, then please include them.</p>

<p><strong>Can I apply to both the SIG Fellowships and Stipends programs?</strong></p>

<p>Yes; keep in mind that SIG Stipends funds students who secure an unpaid public policy internship on their own, while SIG Fellowships are pre-arranged fully-funded public policy internships with organizations who have agreed to partner with SIG.</p>

<p><strong>What is the timeframe for application review, interviews, offers and decisions?</strong></p>

<p>For fellowships, applications will be reviewed and email notices of whether or not you are a finalist in the week following the submission deadline of February 6th.  Interviews will be held from mid-February through early March, with final offers and decisions by mid-March at the latest.</p>

<p><strong>How does my recommender/supervisor submit his/her letter of recommendation/questionnaire on my behalf?</strong></p>

<p>The system will generate and display a unique URL for uploading your recommendation/questionnaire (you can get back to this page at any time by hitting the <%= link_to '"Apply"', apply_path %> link and selecting the program you are applying for).  Simply have your recommender/supervisor navigate to that URL to submit supporting materials for you.</p>

</div>

<div class="col-md-3 col-md-offset-1 hidden-sm hidden-xs">
  <div class="lincoln-side-bar">
  </div>
</div>
</div>