<div class="jumbotron">
  <div class="container">
  <h1>SIG Summer Application</h1>
  <p>Apply for summer opportunities! Take a look at the list of fellowships we have for 2014!</p>
  <p><%= link_to "Learn more", fellowships_url, class: "btn btn-primary btn-lg"  %></p>
  </div>
</div>