<div class="jumbotron frontpage-jumbotron">
  <div class="container">
    <div class="text-shadow">
      <h1>Summer Application</h1>
      <p>Apply for summer opportunities! Take a look at the list of fellowships we have for 2014!</p>
    </div>
    <p><%= link_to "Learn more", fellowships_url, class: "btn btn-primary btn-lg"  %></p>
  </div>
</div>