<% title 'Stipends' %>

<div class="page-header">
  <h1>Summer Stipends</h1>
  <p>The Stanford in Government (SIG) Stipends program provides motivated Stanford undergraduates with funding up to $7,500 for unpaid summer policy internships. Since a majority of internships in the fields of policy and government are unpaid, the Stipends Program seeks to encourage students who would otherwise be unable to pursue unpaid policy internships–e.g. students on financial aid and underclassmen–to engage with public policy, public service, and government by making these professional opportunities more accessible.</p>

  <p><%= link_to "Learn more", 'https://sig.stanford.edu/sig-stipends-program/', class: 'btn btn-default' %>
  <%= link_to "Apply now!", apply_path, class: 'btn btn-primary' %></p>
</div>
