// Place all the styles related to the Fellowships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#fellowship-ranker {
  padding: 10px;
  .btn-group-top {
    margin-bottom: 20px;
  }
}

.fellowship-city {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #999;
  display: block;
}

.fellowship-name {
  color: #444;
}

.panel-heading .fellowship-city {
  margin-top: 6px;
}

.selected-choices {
  padding: 10px;
}

.rank-badge {
  min-height: 50px;
  margin-right: 20px;
}

.fellowship-block-header {
  font-size: 1.1em;
  overflow: hidden;
  span {
    display: block;
    margin-bottom: 8px;
  }
}

.fellowship-block-thumb {
  margin: auto;
  width: 150px;
  height: 150px;
}

.fellowship-explore {
  .row {
    margin-top: 40px;
  }
  a {
    text-decoration: none;
  }
}

.fellowship-block {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.fellowship-block:hover {
  transform: translate(-5px,-5px);
  box-shadow: 5px 5px 0px rgba(0,0,0,0.3);
}

@media (min-width: 750px) {
  .fellowship-block {
    height: 320px;
  }
}

@media (max-width: 749px) {
  .fellowship-block {
    clear: both;
    .panel-heading {
      width: 30%;
      min-height: 150px;
      float: left;
      border-bottom: 0;
      border-right: 1px solid #ddd;
      border-top-right-radius: 0;
      border-bottom-left-radius: 3px
    }
    .panel-body {
      float: left;
      width: 70%;
    }
  }

  .fellowship-block-thumb img, .fellowship-block-thumb {
    width: 100%;
    height: 100%;
  }
}