// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Space out content a bit */

.student-name {
  font-size: 2.0em;
  font-weight: 700;
  text-align: center;
}

.rec-form .row {
  margin-bottom: 30px;
  margin-top: 30px;
}

.faq {
  h3 {
    font-size: 1.2em;
    line-height: 2em;
    color: #2a6496;
;
  }
  p, ul {
    line-height: 1.8em;
  }
}