body {
  padding-top: 20px;
  padding-bottom: 20px;
}

header {
  margin-bottom: 30px;
}

.container {
  max-width: 760px;
}

footer {
  margin-top: 30px;
}

.nav-devise {
  margin-top: 10px;
}

header p {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  color: #666;
}

.dropdown-menu .fa {
  color: #333;
  margin-right: 10px;
}

abbr[title], abbr[data-original-title] {
  border: 0;
  color: #999;
}